Transcriber/pods/Holiday_Hack_MONO.wav
Transcriber/transcribed/Holiday_Hack_MONO.txt
Transcriber/res/output-1-0.wav
Transcriber/res/output-1-1.wav
Transcriber/res/output-1-2.wav
Transcriber/res/output-1-3.wav
Transcriber/transcribed/Seven Minutes 2.txt
Transcriber/transcribed/Seven Minutes 4.txt
Transcriber/transcribed/Seven Minutes 5.txt
Transcriber/transcribed/Seven Minutes 6.txt
Transcriber/transcribed/Seven Minutes 7.txt
*.wav
*.xml
Transcriber/transcribed/
transcribed/Little Happier 1.txt
transcribed/stem_Little Happier 1.txt
